table, th, td {
    border: 1px solid grey;
}

th, td {
    height: 5vw;
}

table {
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}

.circle {
    border-radius: 50%;
    inset: 0;
    margin: auto;
}

.big, .gear {
    height: 125px;
    width: 125px;
    background-color: darkgrey;
    position: relative;
    margin: 50px;
    container-type: size;
}

.medium {
    --medium-circle-radius: 37%;
    height: var(--medium-circle-radius);
    width: var(--medium-circle-radius);
    background-color: white;
    position: absolute;
}

.small, .tooth {
    --small-circle-radius: 25%;
    height: var(--small-circle-radius);
    width: var(--small-circle-radius);
    background-color: white;
    position: absolute;
}

.big :nth-child(1 of .small) {
    top: -100%;
}

.big :nth-child(2 of .small) {
    top: -75%;
    right: -75%;
}

.big :nth-child(3 of .small) {
    right: -100%;
}

.big :nth-child(4 of .small) {
    bottom: -75%;
    right: -75%;
}

.big :nth-child(5 of .small) {
    bottom: -100%;
}

.big :nth-child(6 of .small) {
    bottom: -75%;
    left: -75%;
}

.big :nth-child(7 of .small) {
    left: -100%;
}

.big :nth-child(8 of .small) {
    top: -75%;
    left: -75%;
}

.gear :nth-child(1 of .tooth) {
    transform: rotate(0deg) translateY(-50cqh);
}

.gear :nth-child(2 of .tooth) {
    transform: rotate(45deg) translateY(-50cqh);
}

.gear :nth-child(3 of .tooth) {
    transform: rotate(90deg) translateY(-50cqh);
}

.gear :nth-child(4 of .tooth) {
    transform: rotate(135deg) translateY(-50cqh);
}

.gear :nth-child(5 of .tooth) {
    transform: rotate(180deg) translateY(-50cqh);
}

.gear :nth-child(6 of .tooth) {
    transform: rotate(225deg) translateY(-50cqh);
}

.gear :nth-child(7 of .tooth) {
    transform: rotate(270deg) translateY(-50cqh);
}

.gear :nth-child(8 of .tooth) {
    transform: rotate(315deg) translateY(-50cqh);
}